nexusLIMS/schemas/nexus-experiment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ NIST Public License - 2019
  ~
  ~ This software was developed by employees of the National Institute of
  ~ Standards and Technology (NIST), an agency of the Federal Government
  ~ and is being made available as a public service. Pursuant to title 17
  ~ United States Code Section 105, works of NIST employees are not subject
  ~ to copyright protection in the United States.  This software may be
  ~ subject to foreign copyright.  Permission in the United States and in
  ~ foreign countries, to the extent that NIST may hold copyright, to use,
  ~ copy, modify, create derivative works, and distribute this software and
  ~ its documentation without fee is hereby granted on a non-exclusive basis,
  ~ provided that this notice and disclaimer of warranty appears in all copies.
  ~
  ~ THE SOFTWARE IS PROVIDED 'AS IS' WITHOUT ANY WARRANTY OF ANY KIND,
  ~ EITHER EXPRESSED, IMPLIED, OR STATUTORY, INCLUDING, BUT NOT LIMITED
  ~ TO, ANY WARRANTY THAT THE SOFTWARE WILL CONFORM TO SPECIFICATIONS, ANY
  ~ IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
  ~ AND FREEDOM FROM INFRINGEMENT, AND ANY WARRANTY THAT THE DOCUMENTATION
  ~ WILL CONFORM TO THE SOFTWARE, OR ANY WARRANTY THAT THE SOFTWARE WILL BE
  ~ ERROR FREE.  IN NO EVENT SHALL NIST BE LIABLE FOR ANY DAMAGES, INCLUDING,
  ~ BUT NOT LIMITED TO, DIRECT, INDIRECT, SPECIAL OR CONSEQUENTIAL DAMAGES,
  ~ ARISING OUT OF, RESULTING FROM, OR IN ANY WAY CONNECTED WITH THIS SOFTWARE,
  ~ WHETHER OR NOT BASED UPON WARRANTY, CONTRACT, TORT, OR OTHERWISE, WHETHER
  ~ OR NOT INJURY WAS SUSTAINED BY PERSONS OR PROPERTY OR OTHERWISE, AND
  ~ WHETHER OR NOT LOSS WAS SUSTAINED FROM, OR AROSE OUT OF THE RESULTS OF,
  ~ OR USE OF, THE SOFTWARE OR SERVICES PROVIDED HEREUNDER.
  ~
  -->

<xs:schema targetNamespace="https://data.nist.gov/od/dm/nexus/experiment/v1.0"
  xmlns:nx="https://data.nist.gov/od/dm/nexus/experiment/v1.0"
  xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3c.org/2001/XMLSchema-instance" elementFormDefault="qualified"
  attributeFormDefault="unqualified" version="1.03-10-2022">

  <xs:annotation>
    <xs:documentation>
        A metadata schema for describing an experiment utilizing equipment
        from the Nexus Microscopy Lab.
      </xs:documentation>
  </xs:annotation>

  <xs:element name="Experiment" type="nx:Experiment">
    <xs:annotation>
      <xs:appinfo>
       </xs:appinfo>
      <xs:documentation>
         The root element for a document describing an Experiment
       </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="Experiment">
    <xs:annotation>
      <xs:documentation>
           A description of an experiment using an instrument in Nexus
           Microscopy Lab
         </xs:documentation>
    </xs:annotation>

    <xs:sequence>

      <xs:element name="title" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
               <label>Title</label>
             </xs:appinfo>
          <xs:documentation>The title of this experiment</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="id" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
               <label>Identifier</label>
             </xs:appinfo>
          <xs:documentation>
               A unique local identifier assigned to this record.
             </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="summary" type="nx:Summary">
        <xs:annotation>
          <xs:appinfo>
               <label>Summary</label>
             </xs:appinfo>
          <xs:documentation>
               A collection of metadata that summarize the overall use and
               intent of the experiment.
             </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="sample" type="nx:Sample" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
               <label>Sample</label>
             </xs:appinfo>
          <xs:documentation>
               A description of a sample examined in this experiment.
             </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="project" type="nx:Project" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
            <label>Project</label>
          </xs:appinfo>
          <xs:documentation>
            A description of a project of which this Experiment is a part.
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="acquisitionActivity" type="nx:AcquisitionActivity" minOccurs="0"
        maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
               <label>Acquisition Activity</label>
             </xs:appinfo>
          <xs:documentation>
               A description of a specific group of data acqusition during this
               experimental session.
             </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="notes" type="nx:Notes" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
              Largely unformatted notes taken regarding the current sample
            </xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>

    <xs:attribute name="pid">
      <xs:annotation>
          <xs:appinfo>
              <label>Persistent Identifier</label>
          </xs:appinfo>
          <xs:documentation> An unambiguous identifier for this resource description as
              assigned by its author or its curating registry. </xs:documentation>
          <xs:documentation> This attribute is required on export. </xs:documentation>
          <xs:documentation> Authors may use this identifier for a proxy ID for the underlying
              resource if one does not exist</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
          <xs:annotation>
              <xs:appinfo>
                  <module>module-local-id-registry</module>
              </xs:appinfo>
          </xs:annotation>
          <xs:restriction base="xs:string"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Summary">
    <xs:annotation>
      <xs:documentation>
           A collection of metadata that summarize the overall use and
           intent of the experiment.
         </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="experimenter" type="xs:token" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
               <label>Experimenter</label>
             </xs:appinfo>
          <xs:documentation>
               The name of the user running this experiment.
             </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="collaborator" type="xs:token" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
               <label>Collaborator</label>
             </xs:appinfo>
          <xs:documentation>
               The name of a notable collaborator in the experiment
             </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="instrument" type="nx:Instrument" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:appinfo>
               <label>Instrument</label>
             </xs:appinfo>
          <xs:documentation>
               The instrument used in this experiment
             </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="reservationStart" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
               <label>Reservation start time</label>
             </xs:appinfo>
          <xs:documentation>The start time of this experiment</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="reservationEnd" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
               <label>Reservation end time</label>
             </xs:appinfo>
          <xs:documentation>The end time of this experiment</xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="motivation" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:appinfo>
               <label>Motivation</label>
             </xs:appinfo>
          <xs:documentation>
               A prose description of the motivation, purpose, or other intent
               behind this experiment.
             </xs:documentation>
        </xs:annotation>
      </xs:element>


    </xs:sequence>
      
      <xs:attribute name="ref" type="xs:anyURI">
          <xs:annotation>
              <xs:documentation>
                  An external link to the reservation or metadata record used
                  to populate this Experiment record. Could be a link to
                  a particular reservation in a facility management system,
                  for instance.
              </xs:documentation>
          </xs:annotation>
      </xs:attribute>
      
  </xs:complexType>

  <xs:complexType name="Sample">
    <xs:annotation>
      <xs:documentation>
           A collection of metadata that describe a sample examined during
           an experiment.
         </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="name" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
                 A name for the sample (for display purposes)
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="description" type="xs:token" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
                 A description of the sample (where each occurance can
                 be thought of as a separate paragraph).
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="notes" type="nx:Notes" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
                 Largely unformatted notes taken regarding the current sample
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="elements" type="nx:PeriodicTableElementType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation> A list of one or more elements that are present or expected to be
            present in this sample </xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>
    <xs:attribute name="id" type="xs:string">
      <xs:annotation>
        <xs:documentation>
              An identifier (unique to this document) that identifies
              the current sample.  This can be the sample name if it
              is unique.
            </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="ref" type="xs:string">
      <xs:annotation>
        <xs:documentation>
              An external persistent identifier for the current sample
              the current sample.  This can be the sample name if it
              is unique.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Project">
    <xs:annotation>
      <xs:documentation>
           A collection of metadata that describes a project to which an
           Experiment can belong.
      </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="name" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
                 A name for the project (for display purposes)
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="division" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The division ID to which this project belongs
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="group" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The group ID within a division to which this
            project belongs
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="project_id" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The specific project ID within a research group/division
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="ref" type="xs:anyURI" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            An (optional) link to this project in another database
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AcquisitionActivity">
    <xs:annotation>
      <xs:documentation>
           A collection of metadata that describe a specific group
           of acquired data during the Experiment.
         </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="startTime" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
                 A date and time recorded as the start of this activity.
                 This can be the time of the creation of the of the first
                 dataset.
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="sampleID" type="xs:token" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
                 The identifier for the sample that was part of this
                 acquisition activity.  This should match a value of
                 the id attribute for a sample element included in
                 this document.
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="setup" type="nx:Setup" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
                 Metadata describing the set-up of the instrument
                 during the current Acqusition Activity.
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="notes" type="nx:Notes" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Largely unformatted notes taken regarding the current Acqusition Activity
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="dataset" type="nx:Dataset" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
                 A file or named set of files that was acquired during
                 the current Acqusition Activity.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="seqno" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
          A number that indicates the order that this Acqusition Activity occurred
          within a sequence of Acqusition Activities.
            </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Notes">
    <xs:annotation>
      <xs:documentation>
           Generic content pulled as notes (lightly structured).
         </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="entry" type="nx:Entry" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
                 A section of the notes.  Each section can be of a different
                 type with different structural content (e.g. for text, an
                 image, a table, etc.)
               </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="source" type="xs:string">
      <xs:annotation>
        <xs:documentation>
              A label indicating where the notes were extracted from (e.g. "ELN")
            </xs:documentation>
      </xs:annotation>
    </xs:attribute>

  </xs:complexType>

  <xs:complexType name="Entry">
    <xs:annotation>
      <xs:documentation>
           An entry into a set of notes.  This type serves as a base type
           for different sub-types.
         </xs:documentation>
    </xs:annotation>

    <xs:sequence> </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TextEntry">
    <xs:annotation>
      <xs:documentation>
           A text entry into a set of notes.
         </xs:documentation>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="nx:Entry">
        <xs:sequence>
          <xs:element name="p" type="xs:token" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                     Free text content
                   </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ImageEntry">
    <xs:annotation>
      <xs:documentation>
           An image entry into a set of notes.
         </xs:documentation>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="nx:Entry">
        <xs:sequence>
          <xs:sequence>
            <xs:element name="imageURL" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                       A link to an image inserted into the notes
                     </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TableEntry">
    <xs:annotation>
      <xs:documentation>
           A table entry into a set of notes.
         </xs:documentation>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="nx:Entry">
        <xs:sequence>
          <xs:sequence>
            <xs:element name="table" type="nx:Table" minOccurs="1" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>
                       Tabular content inserted into the notes
                     </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Table">
    <xs:annotation>
      <xs:documentation>
           A single grid of tabular information
         </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="title" type="xs:token" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
                 The title for the table
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="header" type="nx:TableHeader">
        <xs:annotation>
          <xs:documentation>
                 The description of the table's columns
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rows" type="nx:TableRows">
        <xs:annotation>
          <xs:documentation>
                 The main data of the table, organized into rows
               </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TableHeader">
    <xs:annotation>
      <xs:documentation>
           A description of a table's columns
         </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="column" type="nx:TableColumn" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
                 A single column of data in the table
               </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TableColumn">
    <xs:annotation>
      <xs:documentation>
           A description of one column in a table
         </xs:documentation>
    </xs:annotation>

    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="id">
          <xs:annotation>
            <xs:documentation>
                The identifier to assign to this column (for reference by
                cell elements).
              </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>

  </xs:complexType>

  <xs:complexType name="TableRows">
    <xs:annotation>
      <xs:documentation>
           The main data body of a table, organized as a sequence of rows.
         </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="row" type="nx:TableRow" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
                 A single row of data in the table
               </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TableRow">
    <xs:annotation>
      <xs:documentation>
           A single row of a table
         </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="cell" type="nx:TableCell" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
                 A single cell in a row of a table.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="seqno" type="xs:integer">
      <xs:annotation>
        <xs:documentation>
              A number that indicates the order that the row appears
              in the table.
            </xs:documentation>
      </xs:annotation>
    </xs:attribute>

  </xs:complexType>

  <xs:complexType name="TableCell">
    <xs:annotation>
      <xs:documentation>
          A container for data in one cell of the table.
        </xs:documentation>
    </xs:annotation>

    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="colid">
          <xs:annotation>
            <xs:documentation>
                The identifier for the column that this cell corresponds to
              </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>

  </xs:complexType>

  <xs:complexType name="Setup">
    <xs:annotation>
      <xs:documentation>
           Metadata describing the set-up of an instrument (values common
           to all datasets within an Acqusition Activity).
         </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="param" type="nx:Parameter" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
                 An arbitrary setup parameter with a name and a value
               </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Dataset">
    <xs:annotation>
      <xs:documentation>
           A description of a file or set of files.
         </xs:documentation>
    </xs:annotation>

    <xs:sequence>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>
                 The name given to the dataset
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="location" type="xs:string">
        <xs:annotation>
          <xs:documentation>
                 A directory path or URL indicating the location where
                 the dataset is stored
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="format" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
                 A string (can be a MIME type) indicating the format of
                 the dataset (e.g. TIFF, DICOM, Excel).
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
                 A description of the dataset (where each occurance can
                 be thought of as a separate paragraph).
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="preview" type="xs:string" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
                 URL or string path to a preview rendering (thumbnail) of the data
                 in the dataset.
               </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="meta" type="nx:Parameter" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
                 An arbitrary metadatum with a name and a value unique to this dataset
               </xs:documentation>
        </xs:annotation>
      </xs:element>

    </xs:sequence>

    <xs:attribute name="type" type="nx:DatasetType">
      <xs:annotation>
        <xs:documentation>
              A label indicating the type of this dataset (taken from
              a controlled list).
            </xs:documentation>
      </xs:annotation>
    </xs:attribute>

    <xs:attribute name="role" type="nx:DatasetRole">
      <xs:annotation>
        <xs:documentation>
              A label indicating the experimental role of this dataset
              (taken from a controlled list).
            </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Parameter">
    <xs:annotation>
      <xs:documentation>
           A piece of arbitrary metadata featuring a name and a value, unique
           to a dataset within an Acqusition Activity.
         </xs:documentation>
    </xs:annotation>

    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="name">
          <xs:annotation>
            <xs:documentation>
                The name of the parameter
              </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="unit">
          <xs:annotation>
            <xs:documentation>
                A physical unit associated with the value of this parameter
              </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="warning" type="boolean">
          <xs:annotation>
            <xs:documentation>
                A marker to indicate that this parameter may not be reliable 
                (an instrument may have not written it correctly, or it is commonly not
                filled out properly, etc.)
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>

  </xs:complexType>

  <xs:simpleType name="InstrumentName">
    <xs:annotation>
      <xs:documentation>
         Controlled labels that identify available instruments in the 
         facility (matching names in the reservation calendar resource).
       </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:token">

      <xs:enumeration value="FEI Titan TEM">
        <xs:annotation>
          <xs:documentation>
            The FEI Titan transmission electron microscope in ***REMOVED***
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="FEI Titan STEM">
        <xs:annotation>
          <xs:documentation>
            The FEI Titan scanning transmission electron microscope in ***REMOVED***
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="FEI Helios">
        <xs:annotation>
          <xs:documentation>
            The FEI Helios dual beam FIB/SEM in ***REMOVED***
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="FEI Quanta200">
        <xs:annotation>
          <xs:documentation>
            The FEI Quanta 200 environmental scanning electron microscope in ***REMOVED***
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Hitachi S4700">
        <xs:annotation>
          <xs:documentation>
            The Hitachi S4700 scanning electron microscope in ***REMOVED***
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Hitachi S5500">
        <xs:annotation>
          <xs:documentation>
            The Hitachi S5500 scanning electron microscope in ***REMOVED***
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="JEOL JEM3010">
        <xs:annotation>
          <xs:documentation>
            The JEOL JEM3010 transmission electron microscope in ***REMOVED***
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="JEOL JSM7100">
        <xs:annotation>
          <xs:documentation>
            The JEOL JSM7100 scanning electron microscope in ***REMOVED***
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Philips EM400">
        <xs:annotation>
          <xs:documentation>
            The Phillips EM400 transmission electron microscope in ***REMOVED***
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Philips CM30">
        <xs:annotation>
          <xs:documentation>
            The Phillips CM30 transmission electron microscope
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Test Tool">
        <xs:annotation>
          <xs:documentation>
            A test tool that does not exist for testing
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="Instrument">
    <xs:annotation>
      <xs:documentation>
        The identification of an instrument in the
        facility.
      </xs:documentation>
    </xs:annotation>

    <xs:simpleContent>
      <xs:extension base="xs:token">

        <xs:attribute name="pid" type="xs:token">
          <xs:annotation>
            <xs:documentation>
              An unique identifier that identifies the instrument within facility.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>

        <xs:attribute name="ref" type="xs:anyURI">
          <xs:annotation>
            <xs:documentation>
              An (optional) link to this instrument in another database
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>

      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="DatasetType">
    <xs:annotation>
      <xs:documentation>
         Controlled labels that identify a functional type data contained in
         a dataset.
       </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:token">

      <xs:enumeration value="Image">
        <xs:annotation>
          <xs:documentation>
             A 2-D array of data where each value is typically an
             intensity measurement as function of regularly spaced position
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Spectrum">
        <xs:annotation>
          <xs:documentation>
             A 1-D array of data where each value is typically an
             intensity measurement as a function of frequency or energy
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="SpectrumImage">
        <xs:annotation>
          <xs:documentation>
             A 3-D array of data where each value is typically an
             intensity measurement as a function of regularly space
             position along two axes and of frequency or energy along
             the third.
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Diffraction">
        <xs:annotation>
          <xs:documentation>
             Data that measures a (usually electron) diffraction pattern
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Notes">
        <xs:annotation>
          <xs:documentation>
             Arbitrary textual data that is typically manually created by
             the Experimenter.
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Misc">
        <xs:annotation>
          <xs:documentation>
             A dataset that does not qualify as of any of the other
             defined types.
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DatasetRole">
    <xs:annotation>
      <xs:documentation>
         Controlled labels that identify the functional role of a dataset
       </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:token">

      <xs:enumeration value="Experimental">
        <xs:annotation>
          <xs:documentation>
             "Normal" data collected during typical operation of an instrument
             for experimental purposes
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="MasterCalibration">
        <xs:annotation>
          <xs:documentation>
             Reference data collected for the purpose of instrument calibration
             during instrument service events or by allowed super users
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="UserCalibration">
        <xs:annotation>
          <xs:documentation>
             Data collected alongside "Experimental" Datasets by regular users
             for calibration purposes between service events or for a specific
             experiment
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>

      <xs:enumeration value="Derived">
        <xs:annotation>
          <xs:documentation>
             Data that is not collected form an instrument, but rather
             derived from raw and/or calibration data as the result of
             post-acquisition analysis processes
           </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="PeriodicTableElementType">
    <xs:annotation>
      <xs:documentation> Allowed periodic table element values. Includes abbreviations from the
        periodic table up to element number 118. This list was adapted from the Chemical Markup
        Language schema (http://www.xml-cml.org/schema/schema3/) </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="H">
        <xs:annotation>
          <xs:documentation>Hydrogen; Atomic number 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="He">
        <xs:annotation>
          <xs:documentation>Helium; Atomic number 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Li">
        <xs:annotation>
          <xs:documentation>Lithium; Atomic number 3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Be">
        <xs:annotation>
          <xs:documentation>Beryllium; Atomic number 4</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="B">
        <xs:annotation>
          <xs:documentation>Boron; Atomic number 5</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="C">
        <xs:annotation>
          <xs:documentation>Carbon; Atomic number 6</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="N">
        <xs:annotation>
          <xs:documentation>Nitrogen; Atomic number 7</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="O">
        <xs:annotation>
          <xs:documentation>Oxygen; Atomic number 8</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="F">
        <xs:annotation>
          <xs:documentation>Fluorine; Atomic number 9</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ne">
        <xs:annotation>
          <xs:documentation>Neon; Atomic number 10</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Na">
        <xs:annotation>
          <xs:documentation>Sodium; Atomic number 11</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mg">
        <xs:annotation>
          <xs:documentation>Magnesium; Atomic number 12</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Al">
        <xs:annotation>
          <xs:documentation>Aluminum; Atomic number 13</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Si">
        <xs:annotation>
          <xs:documentation>Silicon; Atomic number 14</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="P">
        <xs:annotation>
          <xs:documentation>Phosphorus; Atomic number 15</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="S">
        <xs:annotation>
          <xs:documentation>Sulfur; Atomic number 16</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Cl">
        <xs:annotation>
          <xs:documentation>Chlorine; Atomic number 17</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ar">
        <xs:annotation>
          <xs:documentation>Argon; Atomic number 18</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="K">
        <xs:annotation>
          <xs:documentation>Potassium; Atomic number 19</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ca">
        <xs:annotation>
          <xs:documentation>Calcium; Atomic number 20</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Sc">
        <xs:annotation>
          <xs:documentation>Scandium; Atomic number 21</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ti">
        <xs:annotation>
          <xs:documentation>Titanium; Atomic number 22</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="V">
        <xs:annotation>
          <xs:documentation>Vanadium; Atomic number 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Cr">
        <xs:annotation>
          <xs:documentation>Chromium; Atomic number 24</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mn">
        <xs:annotation>
          <xs:documentation>Manganese; Atomic number 25</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Fe">
        <xs:annotation>
          <xs:documentation>Iron; Atomic number 26</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Co">
        <xs:annotation>
          <xs:documentation>Cobalt; Atomic number 27</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ni">
        <xs:annotation>
          <xs:documentation>Nickel; Atomic number 28</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Cu">
        <xs:annotation>
          <xs:documentation>Copper; Atomic number 29</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Zn">
        <xs:annotation>
          <xs:documentation>Zinc; Atomic number 30</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ga">
        <xs:annotation>
          <xs:documentation>Gallium; Atomic number 31</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ge">
        <xs:annotation>
          <xs:documentation>Germanium; Atomic number 32</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="As">
        <xs:annotation>
          <xs:documentation>Arsenic; Atomic number 33</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Se">
        <xs:annotation>
          <xs:documentation>Selenium; Atomic number 34</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Br">
        <xs:annotation>
          <xs:documentation>Bromine; Atomic number 35</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Kr">
        <xs:annotation>
          <xs:documentation>Krypton; Atomic number 36</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Rb">
        <xs:annotation>
          <xs:documentation>Rubidium; Atomic number 37</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Sr">
        <xs:annotation>
          <xs:documentation>Strontium; Atomic number 38</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Y">
        <xs:annotation>
          <xs:documentation>Yttrium; Atomic number 39</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Zr">
        <xs:annotation>
          <xs:documentation>Zirconium; Atomic number 40</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Nb">
        <xs:annotation>
          <xs:documentation>Niobium; Atomic number 41</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mo">
        <xs:annotation>
          <xs:documentation>Molybdenum; Atomic number 42</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Tc">
        <xs:annotation>
          <xs:documentation>Technetium; Atomic number 43</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ru">
        <xs:annotation>
          <xs:documentation>Ruthenium; Atomic number 44</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Rh">
        <xs:annotation>
          <xs:documentation>Rhodium; Atomic number 45</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Pd">
        <xs:annotation>
          <xs:documentation>Palladium; Atomic number 46</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ag">
        <xs:annotation>
          <xs:documentation>Silver; Atomic number 47</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Cd">
        <xs:annotation>
          <xs:documentation>Cadmium; Atomic number 48</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="In">
        <xs:annotation>
          <xs:documentation>Indium; Atomic number 49</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Sn">
        <xs:annotation>
          <xs:documentation>Tin; Atomic number 50</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Sb">
        <xs:annotation>
          <xs:documentation>Antimony; Atomic number 51</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Te">
        <xs:annotation>
          <xs:documentation>Tellurium; Atomic number 52</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="I">
        <xs:annotation>
          <xs:documentation>Iodine; Atomic number 53</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Xe">
        <xs:annotation>
          <xs:documentation>Xenon; Atomic number 54</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Cs">
        <xs:annotation>
          <xs:documentation>Cesium; Atomic number 55</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ba">
        <xs:annotation>
          <xs:documentation>Barium; Atomic number 56</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="La">
        <xs:annotation>
          <xs:documentation>Lanthanum; Atomic number 57</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ce">
        <xs:annotation>
          <xs:documentation>Cerium; Atomic number 58</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Pr">
        <xs:annotation>
          <xs:documentation>Praseodymium; Atomic number 59</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Nd">
        <xs:annotation>
          <xs:documentation>Neodymium; Atomic number 60</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Pm">
        <xs:annotation>
          <xs:documentation>Promethium; Atomic number 61</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Sm">
        <xs:annotation>
          <xs:documentation>Samarium; Atomic number 62</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Eu">
        <xs:annotation>
          <xs:documentation>Europium; Atomic number 63</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Gd">
        <xs:annotation>
          <xs:documentation>Gadolinium; Atomic number 64</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Tb">
        <xs:annotation>
          <xs:documentation>Terbium; Atomic number 65</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Dy">
        <xs:annotation>
          <xs:documentation>Dysprosium; Atomic number 66</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ho">
        <xs:annotation>
          <xs:documentation>Holmium; Atomic number 67</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Er">
        <xs:annotation>
          <xs:documentation>Erbium; Atomic number 68</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Tm">
        <xs:annotation>
          <xs:documentation>Thulium; Atomic number 69</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Yb">
        <xs:annotation>
          <xs:documentation>Ytterbium; Atomic number 70</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Lu">
        <xs:annotation>
          <xs:documentation>Lutetium; Atomic number 71</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Hf">
        <xs:annotation>
          <xs:documentation>Hafnium; Atomic number 72</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ta">
        <xs:annotation>
          <xs:documentation>Tantalum; Atomic number 73</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="W">
        <xs:annotation>
          <xs:documentation>Tungsten; Atomic number 74</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Re">
        <xs:annotation>
          <xs:documentation>Rhenium; Atomic number 75</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Os">
        <xs:annotation>
          <xs:documentation>Osmium; Atomic number 76</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ir">
        <xs:annotation>
          <xs:documentation>Iridium; Atomic number 77</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Pt">
        <xs:annotation>
          <xs:documentation>Platinum; Atomic number 78</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Au">
        <xs:annotation>
          <xs:documentation>Gold; Atomic number 79</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Hg">
        <xs:annotation>
          <xs:documentation>Mercury; Atomic number 80</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Tl">
        <xs:annotation>
          <xs:documentation>Thallium; Atomic number 81</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Pb">
        <xs:annotation>
          <xs:documentation>Lead; Atomic number 82</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Bi">
        <xs:annotation>
          <xs:documentation>Bismuth; Atomic number 83</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Po">
        <xs:annotation>
          <xs:documentation>Polonium; Atomic number 84</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="At">
        <xs:annotation>
          <xs:documentation>Astatine; Atomic number 85</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Rn">
        <xs:annotation>
          <xs:documentation>Radon; Atomic number 86</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Fr">
        <xs:annotation>
          <xs:documentation>Francium; Atomic number 87</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ra">
        <xs:annotation>
          <xs:documentation>Radium; Atomic number 88</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ac">
        <xs:annotation>
          <xs:documentation>Actinium; Atomic number 89</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Th">
        <xs:annotation>
          <xs:documentation>Thorium; Atomic number 90</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Pa">
        <xs:annotation>
          <xs:documentation>Protactinium; Atomic number 91</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="U">
        <xs:annotation>
          <xs:documentation>Uranium; Atomic number 92</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Np">
        <xs:annotation>
          <xs:documentation>Neptunium; Atomic number 93</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Pu">
        <xs:annotation>
          <xs:documentation>Plutonium; Atomic number 94</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Am">
        <xs:annotation>
          <xs:documentation>Americium; Atomic number 95</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Cm">
        <xs:annotation>
          <xs:documentation>Curium; Atomic number 96</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Bk">
        <xs:annotation>
          <xs:documentation>Berkelium; Atomic number 97</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Cf">
        <xs:annotation>
          <xs:documentation>Californium; Atomic number 98</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Es">
        <xs:annotation>
          <xs:documentation>Einsteinium; Atomic number 99</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Fm">
        <xs:annotation>
          <xs:documentation>Fermium; Atomic number 100</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Md">
        <xs:annotation>
          <xs:documentation>Mendelevium; Atomic number 101</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="No">
        <xs:annotation>
          <xs:documentation>Nobelium; Atomic number 102</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Lr">
        <xs:annotation>
          <xs:documentation>Lawrencium; Atomic number 103</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Rf">
        <xs:annotation>
          <xs:documentation>Rutherfordium; Atomic number 104</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Db">
        <xs:annotation>
          <xs:documentation>Dubnium; Atomic number 105</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Sg">
        <xs:annotation>
          <xs:documentation>Seaborgium; Atomic number 106</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Bh">
        <xs:annotation>
          <xs:documentation>Bohrium; Atomic number 107</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Hs">
        <xs:annotation>
          <xs:documentation>Hassium; Atomic number 108</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mt">
        <xs:annotation>
          <xs:documentation>Meitnerium; Atomic number 109</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ds">
        <xs:annotation>
          <xs:documentation>Darmstadtium; Atomic number 110</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Rg">
        <xs:annotation>
          <xs:documentation>Roentgenium; Atomic number 111</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Cn">
        <xs:annotation>
          <xs:documentation>Copernicium; Atomic number 112</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Nh">
        <xs:annotation>
          <xs:documentation>Nihonium; Atomic number 113</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Fl">
        <xs:annotation>
          <xs:documentation>Flerovium; Atomic number 114</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Mc">
        <xs:annotation>
          <xs:documentation>Moscovium; Atomic number 115</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Lv">
        <xs:annotation>
          <xs:documentation>Livermorium; Atomic number 116</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Ts">
        <xs:annotation>
          <xs:documentation>Tennessine; Atomic number 117</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Og">
        <xs:annotation>
          <xs:documentation>Oganesson; Atomic number 118</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>

</xs:schema>
